[submodule "references/lists/list-99eafe2c385b"]
	path = references/lists/list-99eafe2c385b
	url = https://github.com/tarundeveloper25/ryan-buyer-qualification-list.git
	branch = main
[submodule "references/pipelines/pl-2c40bbc4835c"]
	path = references/pipelines/pl-2c40bbc4835c
	url = https://github.com/tarundeveloper25/ryan-buyer-qualification-pipeline.git
	branch = main
[submodule "references/commands/6a86eb6cb8a54c2e1a012033"]
	path = references/commands/6a86eb6cb8a54c2e1a012033
	url = https://github.com/tarundeveloper25/ryan-qualify-a-buyer-business-workflow.git
	branch = main
