[submodule "references/lists/list-ryan-buyer-qualification-cases"]
	path = references/lists/list-ryan-buyer-qualification-cases
	url = https://github.com/tarundeveloper25/ryan-buyer-qualification-list.git
	branch = main
[submodule "references/pipelines/pipeline-ryan-buyer-qualification-pipeline"]
	path = references/pipelines/pipeline-ryan-buyer-qualification-pipeline
	url = https://github.com/tarundeveloper25/ryan-buyer-qualification-pipeline.git
	branch = main
[submodule "references/workflows/workflow-ryan-qualify-a-buyer"]
	path = references/workflows/workflow-ryan-qualify-a-buyer
	url = https://github.com/tarundeveloper25/ryan-qualify-a-buyer-business-workflow.git
	branch = main
